<div class="x_panel">
    <table class="table table-striped">
        <thead>
        <th style="width: 80px;">
            Id
        </th>
        <th>
            Title
        </th>
        <th style="width: 80px;">
            Action
        </th>
        </thead>
        <tr data-ng-repeat="n in vm.contents.elements">
            <td>
                {{n.id}}
            </td>
            <td>
                {{n.title}}
            </td>
            <td>
                <button class="btn btn-default btn-xs"
                    data-ng-click="vm.edit(n);"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Edit"
                    tooltip
                >
                    <span class="fa fa-pencil-square-o"></span>
                </button>
            </td>
        </tr>
    </table>
    <div
        data-ng-if="vm.contents.elements == 0"
    >
        <div class="alert alert-danger alert-dismissible">
            <strong>Warning!</strong> Empty Data.
        </div>
    </div>
    <div
        data-ng-if="!vm.contents"
        class="align_center"
    >
        <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
    </div>
</div>

<form data-ng-submit="vm.save();" name="myForm" class="form-horizontal">
    <div
        class="modal fade"
        id="contentPopup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                    >
                        <span>&times;</span>
                    </button>
                    <h4>
                        <label>Content</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <span class="control-label">
                                            Title English
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text"
                                            class="form-control"
                                            data-ng-model="vm.title_en"
                                            placeholder="Title English">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <span class="control-label">
                                            Title Khmer
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text"
                                            class="form-control"
                                            data-ng-model="vm.title_kh"
                                            placeholder="Title Khmer">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <span class="control-label">
                                            Description English
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        <trix-editor placeholder="Description English"
                                            angular-trix
                                            style="min-height: 200px; overflow: auto"
                                            data-ng-model="vm.description_en"
                                        ></trix-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <span class="control-label">
                                            Description Khmer
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        <trix-editor placeholder="Description Khmer"
                                            angular-trix
                                            style="min-height: 200px; overflow: auto"
                                            data-ng-model="vm.description_kh"
                                        ></trix-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-default"
                        data-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="vm.isDisabled"
                    >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


