<form data-ng-submit="vm.save()" name="accountForm">
	<div ng-if="vm.account.user_type == 'agency'">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label>Photo</label>
					<div class="center">
						<img src="images/icon-person.png"
							 data-ng-if="!vm.account.photo"
							 style="width: 100%;margin-bottom: 10px;"
							 class="img-thumbnail">
						<img src="images/{{vm.account.photo}}"
							 data-ng-if="vm.account.photo"
							 style="width: 100%;margin-bottom: 10px;"
							 class="img-thumbnail">
						<input type="file" accept="image/*"
							   ng-model="picFile"
							   ngf-max-size="2MB"
							   ngf-model-invalid="errorFiles"
							   ngf-select="vm.uploadPic(picFile, 'feature_image')"
							   class="form-control">
						<i ng-show="accountForm.file.$error.maxSize">
							File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M
						</i>
						<span class="progress" ng-show="picFile.progress >= 0">
							<div
								style="width:{{picFile.progress}}%"
								ng-bind="picFile.progress + '%'"
							>
							</div>
						</span>
						<span ng-show="picFile.result">Upload Successful</span>
						<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
					</div>
				</div><!-- /.form-group-->
			</div><!-- /.col-* -->

			<div class="col-sm-9">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Company Name</label>
						<input type="text"
							   class="form-control"
							   required
							   placeholder="Company Name..."
							   data-ng-model="vm.account.company_name"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Email Address</label>
						<input type="text"
							   class="form-control"
							   placeholder="Email Address"
							   required
							   data-ng-model="vm.account.customers_email_address"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Website</label>
						<input type="text"
							   class="form-control"
							   placeholder="Website..."
							   data-ng-model="vm.account.customers_website"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Telephone</label>
						<input type="text"
							   class="form-control"
							   placeholder="Telephone..."
							   required
							   data-ng-model="vm.account.customers_telephone"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Location</label>
						<select
							class="form-control"
							data-ng-model="vm.account.customers_location"
							data-ng-options="location.id as location.name for location in vm.locations"
							required
						>
							<option value="">--Select--</option>
						</select>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Address</label>
						<textarea required
								  placeholder="Address Information..."
								  class="form-control"
								  data-ng-model="vm.account.customers_address"
						></textarea>
					</div><!-- /.form-group -->
				</div>
			</div><!-- /.col-* -->
		</div><!-- /.row -->

		<h3 class="page-header">About Company Information</h3>
		<div class="">
			<trix-editor
					data-ng-model="vm.account.detail"
					angular-trix trix-initialize="trixInitialize(e, editor);"
					trix-change="trixChange(e, editor);"
					trix-selection-change="trixSelectionChange(e, editor);"
					trix-focus="trixFocus(e, editor);"
					trix-blur="trixBlur(e, editor);"
					trix-file-accept="trixFileAccept(e, editor);"
					trix-attachment-add="trixAttachmentAdd(e, editor);"
					placeholder="Write Company Information..."
					trix-attachment-remove="trixAttachmentRemove(e, editor);"
					style="overflow: scroll;height: 200px;overflow-y: auto;overflow-x: auto;">
			</trix-editor>
		</div><!-- /.row -->
	</div>
	<div ng-if="vm.account.user_type == 'normal'">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label>Photo</label>
					<div class="center">
						<img src="images/icon-person.png"
							 data-ng-if="!vm.account.photo"
							 style="width: 100%;margin-bottom: 10px;"
							 class="img-thumbnail">
						<img src="images/{{vm.account.photo}}"
							 data-ng-if="vm.account.photo"
							 style="width: 100%;margin-bottom: 10px;"
							 class="img-thumbnail">
						<input type="file" accept="image/*"
							   ng-model="picFile"
							   ngf-max-size="1MB"
							   name="fileImage"
							   ngf-model-invalid="errorFiles"
							   ngf-select="vm.uploadPic(picFile, 'feature_image')"
							   class="form-control">
						<i ng-show="accountForm.fileImage.$error.maxSize">
							File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 1M
						</i>
						<span class="progress" ng-show="picFile.progress >= 0">
							<div
								style="width:{{picFile.progress}}%"
								ng-bind="picFile.progress + '%'"
							>
							</div>
						</span>
						<span ng-show="picFile.result.data">Upload Successful</span>
						<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
					</div>
					<hr />
					<label>
						CV:
						<span data-ng-if="!vm.account.upload_cv">
							N/A
						</span>
						<span data-ng-if="vm.account.upload_cv">
							<a href="{{vm.account.upload_cv}}">
								{{vm.account.upload_cv}}
							</a>
						</span>
					</label>
					<div class="center">
						<input type="file"
							   accept="application/msword, application/pdf"
							   ng-model="picFileCV"
							   ngf-max-size="1MB"
							   name="fileCV"
							   ngf-model-invalid="errorFilesCV"
							   ngf-select="vm.uploadCV(picFileCV)"
							   class="form-control">
						<i ng-show="accountForm.fileCV.$error.maxSize">
							File too large {{errorFilesCV[0].size / 1000000|number:1}}MB: max 1M
						</i>
						<span class="progress" ng-show="errorMsgCV.progress >= 0">
							<div
								style="width:{{picFileCV.progress}}%"
								ng-bind="picFileCV.progress + '%'"
							>
							</div>
						</span>
						<span ng-show="picFileCV.result.data">Upload Successful</span>
						<span class="err" ng-show="errorMsgCV">{{errorMsgCV}}</span>
					</div>
				</div><!-- /.form-group-->
			</div><!-- /.col-* -->

			<div class="col-sm-9">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Full Name</label>
						<input type="text"
							   class="form-control"
							   required
							   placeholder="Company Name..."
							   data-ng-model="vm.account.company_name"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Email Address</label>
						<input type="text"
							   class="form-control"
							   placeholder="Email Address"
							   required
							   data-ng-model="vm.account.customers_email_address"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Skill Title</label>
						<input type="text"
							   class="form-control"
							   placeholder="Skill Title..."
							   data-ng-model="vm.account.skill_title"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Telephone</label>
						<input type="text"
							   class="form-control"
							   placeholder="Telephone..."
							   required
							   data-ng-model="vm.account.customers_telephone"
						/>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Location</label>
						<select
								class="form-control"
								data-ng-model="vm.account.customers_location"
								data-ng-options="location.id as location.name for location in vm.locations"
								required
						>
							<option value="">--Select--</option>
						</select>
					</div><!-- /.form-group -->
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Address</label>
						<textarea required
								  placeholder="Address Information..."
								  class="form-control"
								  data-ng-model="vm.account.customers_address"
						></textarea>
					</div><!-- /.form-group -->
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Summary</label>
						<trix-editor
								data-ng-model="vm.account.summary"
								angular-trix trix-initialize="trixInitialize(e, editor);"
								trix-change="trixChange(e, editor);"
								trix-selection-change="trixSelectionChange(e, editor);"
								trix-focus="trixFocus(e, editor);"
								trix-blur="trixBlur(e, editor);"
								trix-file-accept="trixFileAccept(e, editor);"
								trix-attachment-add="trixAttachmentAdd(e, editor);"
								placeholder="Summary..."
								trix-attachment-remove="trixAttachmentRemove(e, editor);"
								style="overflow: scroll;height: 200px;overflow-y: auto;overflow-x: auto;">
						</trix-editor>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Working History</label>
						<trix-editor
								data-ng-model="vm.account.working_history"
								angular-trix trix-initialize="trixInitialize(e, editor);"
								trix-change="trixChange(e, editor);"
								trix-selection-change="trixSelectionChange(e, editor);"
								trix-focus="trixFocus(e, editor);"
								trix-blur="trixBlur(e, editor);"
								trix-file-accept="trixFileAccept(e, editor);"
								trix-attachment-add="trixAttachmentAdd(e, editor);"
								placeholder="Working History..."
								trix-attachment-remove="trixAttachmentRemove(e, editor);"
								style="overflow: scroll;height: 200px;overflow-y: auto;overflow-x: auto;">
						</trix-editor>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Experience</label>
						<trix-editor
								data-ng-model="vm.account.experience"
								angular-trix trix-initialize="trixInitialize(e, editor);"
								trix-change="trixChange(e, editor);"
								trix-selection-change="trixSelectionChange(e, editor);"
								trix-focus="trixFocus(e, editor);"
								trix-blur="trixBlur(e, editor);"
								trix-file-accept="trixFileAccept(e, editor);"
								trix-attachment-add="trixAttachmentAdd(e, editor);"
								placeholder="Experience..."
								trix-attachment-remove="trixAttachmentRemove(e, editor);"
								style="overflow: scroll;height: 200px;overflow-y: auto;overflow-x: auto;">
						</trix-editor>
					</div>
				</div>
			</div><!-- /.col-* -->

		</div><!-- /.row -->
	</div>
	<hr>
	<div class="">
		<a href="javascript" class="btn btn-default" ui-sref="/account">
			<i class="fa fa-close"></i>
			Discard
		</a>
		<button type="submit" class="btn btn-secondary">
			<i class="fa fa-save"></i>
			Save
		</button>
	</div><!-- /.center -->
</form>