<div class="x_panel">
	<div class="x_title">
		<div class="row">
			<div class="form-inline col-md-7">
				<div class="input-group input-large">
					<input type="text" class="form-control" data-ng-model="vm.filterText" 
						data-ng-keypress="($event.which === 13) ? vm.filter() : 0"
						auto-focus="" placeholder="Search...">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" data-ng-click="vm.filters();" 
							data-ng-disabled="vm.loading">
							<i class="fa fa-spinner fa-spin ng-hide" data-ng-show="vm.loading"></i>
							<i class="fa fa-search" data-ng-show="!vm.loading"></i>
						</button>
					</span>
					<select
						data-ng-model="vm.category_id"
						data-ng-options="c.categories_id as c.detail[0].categories_name for c in vm.categoryList.elements"
						class="form-control"
						data-ng-change="vm.filter();"
						required
					>
						<option value="">Filter By Category</option>
					</select>
				</div>
				Total Count: {{vm.totalItems}}
			</div>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<button class="btn btn-default pull-right" ui-sref="product.create">
						<i class="fa fa-plus-circle"></i>
						Add Product
					</button>
				</li>
			</ul>
		</div>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th width="5%">
						#
					</th>
					<th width="30%">
						Name
					</th>
					<th width="20%">
						Category
					</th>
					<th width="15%">
						Price
					</th>
					<th width="15%">
						Discount
					</th>
					<th width="15%">
						Action
					</th>
				</tr>
				<tr data-ng-if="!vm.products">
					<td colspan="8" align="center">
						<loading></loading>
					</td>
				</tr>
				<tr data-ng-repeat="p in vm.products.elements">
					<td>
						{{$index +1 }}
					</td>
					<td>
						<img src="../{{p.products_image_thumbnail}}" style="width: 40px;"/>
						{{p.product_detail[0].products_name}}
					</td>
					<td>
						{{p.category_detail[0].categories_name}}
					</td>
					<td>
						{{p.products_price | currency}}
					</td>
					<td>
						{{p.products_discount}}
					</td>
					<td>
						<a class="btn btn-default btn-xs"
							ui-sref="product.edit({id: p.id})"
							uib-tooltip="Edit"
						>
							<span class="fa fa-edit"></span>
						</a>
						<button class="btn btn-warning btn-xs"
							data-ng-click="vm.updateStatus(p);"
							data-ng-show="p.products_status == 0"
							uib-tooltip="Active"
						>
							<span class="fa fa-minus-circle"></span>
						</button>
						<button class="btn btn-success btn-xs"
							data-ng-click="vm.updateStatus(p);"
							data-ng-show="p.products_status == 1"
							uib-tooltip="InActive"
						>
							<span class="fa fa-check-square-o"></span>
						</button>

						<button class="btn btn-danger btn-xs"
							data-ng-click="vm.remove(p.id);"
							uib-tooltip="Remove"
						>
							<span class="fa fa-trash-o"></span>
						</button>
					</td>
				</tr>
				<tr data-ng-if="vm.products.elements == 0">
					<td colspan="7" align="center">
						<empty-data></empty-data>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="7">
							<ul uib-pagination
								total-items="vm.totalItems"
								ng-model="vm.currentPage"
								ng-change="vm.pageChanged()"
								max-size="5"
								items-per-page="10"
								boundary-links="true"
							></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>