<div class="x_panel">
    <h4>SKWeb Solution Col., Ltd</h3>
    <br>
    <P>
        This software is develop by team of SKWeb Solution that build to serve all operation system
        of client to easy sale and manage inventory.
    </P>
    <br>
    <h4>
        Contact
        <i class="fa fa-hand-o-down"></i>
    </h4>
    <br>
    <b>Address:</b> #29G, St. 15, Toul Pongror Village, Sangkat Chaom Chao,
    Khan PoSenChey, Phnom Penh, Cambodia.
    <br><br>
    <b>Telephone:</b> 070 955 102
    <br><br>
    <b>Email:</b> kom.huy@gmail.com / huysokhom@yahoo.com
    <br><br>
    <b>Facebook:</b> 
        <a href="https://www.facebook.com/skwebsolution/" target="_blank">
            https://www.facebook.com/skwebsolution/
        </a>
    <br/><br/>
    Found (@) [2016]
    <br><br>
</div>